<header>
        <div class="row">
            <center>
                <a href="{{"/" | prepend: site.baseurl | prepend: site.url }}"><img src="{{ "/assets/img/loribrian.png" | prepend: site.baseurl | prepend: site.url }}" alt="Lori and Brian" class="img-responsive"/></a>
            </center>
        </div>
        <div class="row xnav">
{% for page in site.pages %}{% if page.main_menu and page.title %}
<div class="col-md-3 text-center"><a title="{{ page.title }}" href="{{ page.url | prepend: site.baseurl | prepend: site.url }}">{{ page.title }}</a></div>
{% endif %}{% endfor %}
        </div>
</header>

