body {
    background-color: #fff;
    width: 80%;
    margin: auto;
    margin-top: 4em;
    padding-bottom: 3em;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 160%;
}

header {
    margin-bottom: 1.3em;
}

footer {
    border-top: 1px solid #ddd;
    width: 90%;
}

header .xnav {
    margin-top: 0.6em;
    padding-top: 3px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 120%;
}

